extends ../layout

block content
    a(href='/bicicletas') Volver

    h1 Nueva Bicicleta
    
    form(action='/bicicletas/create' method='post')
    
    
            label(for='id') ID:
            input#id.form-control(type='text' name='id')

  
            label(for='color') Color:
            input#color.form-control(type='text' name='color')
        
        
            label(for='modelo') Modelo:
            input#modelo.form-control(type='text' name='modelo')

        
            label(for='latitud') latitud:
            input#lat.form-control(type='text' name='lat')
        
       
            label(for='longitud') Longitud:
            input#long.form-control(type='text' name='lng')
            
            input.btn(type='submit' value='OK')
