extends ../layout



block content
    a(href='/bicicletas/create') Crear Bicla
    
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicacion
                th(scope='col') Modificar
                th(scope='col')     X
        tbody   
            each bici in bicis
                tr
                    td(scope='row')= bici.id
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion
                    td 
                        a(href='bicicletas/' +bici.id+ '/update') modificar
                    td 
                        form.inline(method='post' action='bicicletas/' + bici.id + '/delete')
                            input(type='hidden' name='id' value= bici.id)
                            button.link-button(type='submit' name='submit-param' value='submit_value' class='btn btn-danger')  X