extends ../layout

block content
    a(href='/bicicletas') Volver

    h1 Modificar bicicleta
    
    form(action= `/bicicletas/${bici.id}/update` method='post')
    
    
            label(for='id') ID:
            input#id.form-control(type='text' name='id' value=bici.id)

  
            label(for='color') Color:
            input#color.form-control(type='text' name='color' value=bici.color)
        
        
            label(for='modelo') Modelo:
            input#modelo.form-control(type='text' name='modelo' value=bici.modelo)

        
            label(for='latitud') latitud:
            input#lat.form-control(type='text' name='lat' value=bici.ubicacion[0])
        
       
            label(for='longitud') Longitud:
            input#long.form-control(type='text' name='lng' value=bici.ubicacion[1])
            
            input.btn(type='submit' value='OK')
